:root {
  --main-background: #fbfafa;
  --text-primary: #484848;
  --text-secondary: #767676;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: Roboto, sans-serif;
}

body {
  font-family: var(--font-primary);
  color: var(--text-primary);
  line-height: 1.5;
}
