.container {
  display: flex;
  flex-wrap: nowrap;
}

.article {
  display: block;
  margin-bottom: 1.45rem;
  padding: 0 24px;
  border-right: 1px solid #dfdfdf;
}

.article:first-child {
  padding: 0 24px 0 0;
}

.article:last-child {
  border-right: none;
  padding: 0 0 0 24px;
}

.project_description {
  padding: 24px 0;
  line-height: 24px;
  font-size: 22px;
  font-weight: 300;
  color: #767676;
}

.project_title {
  font-weight: 700;
  color: #2b2b2b;
}
