.container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  /* border: 1px solid #fbfafa;
  border-radius: 4px; */
  /* box-shadow: 0 0 10px 10px #fbfafa; */
  /* padding: 24px; */
}
.article {
  display: block;
  width: 400px;
  margin-bottom: 1.45rem;
  margin-right: 24px;
}
.title {
  margin: 0.5rem 0 0.25rem;
}
.technologies {
  color: var(--text-secondary);
  font-size: 0.85rem;
}
